[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
redis = "*"
django-redis = "*"
Pillow = "*"
requests = "*"

[dev-packages]
pylint = "*"
django_linter = "*"
isort = "*"
rope = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
