{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>
      ChatApp
      {% block TITLE %}{% endblock TITLE %}
    </title>
  </head>

  <link rel="shortcut icon" type="image/jpg" href="{% static 'img/favicon.ico' %}"/>

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous">


  <link href="{% static 'css/base_html.css' %}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

  {% block css_content %}{% endblock css_content %}

  <style type="text/css">
    .main {
      min-height: 100vh;
      height: 100%;
    }
  </style>

  <body>
    <div class="container" id="id_loading_spinner" style="display: none">
      <div class="d-flex flex-row mx-auto flex-grow-1 justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">
            Loading...</span>
        </div>
      </div>
    </div>
    {% include "./snippets/header.html" %}
    <div class="main">
      {% block content %}{% endblock content %}
    </div>

    {# {% include "./snippets/footer.html" %} #}
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

  <script src="{% static 'js/base_html.js' %}"></script>

  {% block script_content %}{% endblock script_content %}

</html>
